{
    "env": {
        "node": true,
        "mocha": true
    },
    "rules": {
        "func-names": "off",
        "new-cap": "off",
        "no-magic-numbers": "off",
        "no-undefined": "off",
        "no-unused-expressions": "off",
        "no-unused-vars": "off",
        "prefer-arrow-callback": "off",
        "prefer-reflect": "off",
        "require-jsdoc": "off"
    }
}
