:root {
    /* GeoSpock colors… */
    --geospock-primary-1: #000f46;
    --geospock-primary-2: #06426c;
    --geospock-primary-3: #0d7691;
    --geospock-primary-4: #13a9b7;
    --geospock-primary-5: #19dcdc;
    --geospock-graphite: #202020;
    --geospock-black-squeeze: #f6f9fc;

    /* Primary color… */
    --color-primary: var(--geospock-primary-1);
    --color-primary-a-90: color-mod(var(--color-primary) alpha(90%));
    --color-primary-a-80: color-mod(var(--color-primary) alpha(80%));
    --color-primary-a-70: color-mod(var(--color-primary) alpha(70%));
    --color-primary-a-60: color-mod(var(--color-primary) alpha(60%));
    --color-primary-a-50: color-mod(var(--color-primary) alpha(50%));
    --color-primary-a-40: color-mod(var(--color-primary) alpha(40%));
    --color-primary-a-30: color-mod(var(--color-primary) alpha(30%));
    --color-primary-a-20: color-mod(var(--color-primary) alpha(20%));
    --color-primary-a-10: color-mod(var(--color-primary) alpha(10%));
    --color-primary-b-90: color-mod(var(--color-primary) shade(90%));
    --color-primary-b-80: color-mod(var(--color-primary) shade(80%));
    --color-primary-b-70: color-mod(var(--color-primary) shade(70%));
    --color-primary-b-60: color-mod(var(--color-primary) shade(60%));
    --color-primary-b-50: color-mod(var(--color-primary) shade(50%));
    --color-primary-b-40: color-mod(var(--color-primary) shade(40%));
    --color-primary-b-30: color-mod(var(--color-primary) shade(30%));
    --color-primary-b-20: color-mod(var(--color-primary) shade(20%));
    --color-primary-b-10: color-mod(var(--color-primary) shade(10%));
    --color-primary-w-90: color-mod(var(--color-primary) tint(90%));
    --color-primary-w-80: color-mod(var(--color-primary) tint(80%));
    --color-primary-w-70: color-mod(var(--color-primary) tint(70%));
    --color-primary-w-60: color-mod(var(--color-primary) tint(60%));
    --color-primary-w-50: color-mod(var(--color-primary) tint(50%));
    --color-primary-w-40: color-mod(var(--color-primary) tint(40%));
    --color-primary-w-30: color-mod(var(--color-primary) tint(30%));
    --color-primary-w-20: color-mod(var(--color-primary) tint(20%));
    --color-primary-w-10: color-mod(var(--color-primary) tint(10%));

    /* Alternate primary color… */
    --color-alternate: var(--geospock-primary-5);
    --color-alternate-a-90: color-mod(var(--color-alternate) alpha(90%));
    --color-alternate-a-80: color-mod(var(--color-alternate) alpha(80%));
    --color-alternate-a-70: color-mod(var(--color-alternate) alpha(70%));
    --color-alternate-a-60: color-mod(var(--color-alternate) alpha(60%));
    --color-alternate-a-50: color-mod(var(--color-alternate) alpha(50%));
    --color-alternate-a-40: color-mod(var(--color-alternate) alpha(40%));
    --color-alternate-a-30: color-mod(var(--color-alternate) alpha(30%));
    --color-alternate-a-20: color-mod(var(--color-alternate) alpha(20%));
    --color-alternate-a-10: color-mod(var(--color-alternate) alpha(10%));
    --color-alternate-b-90: color-mod(var(--color-alternate) shade(90%));
    --color-alternate-b-80: color-mod(var(--color-alternate) shade(80%));
    --color-alternate-b-70: color-mod(var(--color-alternate) shade(70%));
    --color-alternate-b-60: color-mod(var(--color-alternate) shade(60%));
    --color-alternate-b-50: color-mod(var(--color-alternate) shade(50%));
    --color-alternate-b-40: color-mod(var(--color-alternate) shade(40%));
    --color-alternate-b-30: color-mod(var(--color-alternate) shade(30%));
    --color-alternate-b-20: color-mod(var(--color-alternate) shade(20%));
    --color-alternate-b-10: color-mod(var(--color-alternate) shade(10%));
    --color-alternate-w-90: color-mod(var(--color-alternate) tint(90%));
    --color-alternate-w-80: color-mod(var(--color-alternate) tint(80%));
    --color-alternate-w-70: color-mod(var(--color-alternate) tint(70%));
    --color-alternate-w-60: color-mod(var(--color-alternate) tint(60%));
    --color-alternate-w-50: color-mod(var(--color-alternate) tint(50%));
    --color-alternate-w-40: color-mod(var(--color-alternate) tint(40%));
    --color-alternate-w-30: color-mod(var(--color-alternate) tint(30%));
    --color-alternate-w-20: color-mod(var(--color-alternate) tint(20%));
    --color-alternate-w-10: color-mod(var(--color-alternate) tint(10%));

    /* Dark color; the assumption is that this will be near black, hence no shade or tint adjustment… */
    --color-dark: var(--geospock-graphite);
    --color-dark-a-90: color-mod(var(--color-dark) alpha(90%));
    --color-dark-a-80: color-mod(var(--color-dark) alpha(80%));
    --color-dark-a-70: color-mod(var(--color-dark) alpha(70%));
    --color-dark-a-60: color-mod(var(--color-dark) alpha(60%));
    --color-dark-a-50: color-mod(var(--color-dark) alpha(50%));
    --color-dark-a-40: color-mod(var(--color-dark) alpha(40%));
    --color-dark-a-30: color-mod(var(--color-dark) alpha(30%));
    --color-dark-a-20: color-mod(var(--color-dark) alpha(20%));
    --color-dark-a-10: color-mod(var(--color-dark) alpha(10%));

    /* Light color; the assumption is that this will be near white, hence no shade or tint adjustment… */
    --color-light: var(--geospock-black-squeeze);
    --color-light-a-90: color-mod(var(--color-light) alpha(90%));
    --color-light-a-80: color-mod(var(--color-light) alpha(80%));
    --color-light-a-70: color-mod(var(--color-light) alpha(70%));
    --color-light-a-60: color-mod(var(--color-light) alpha(60%));
    --color-light-a-50: color-mod(var(--color-light) alpha(50%));
    --color-light-a-40: color-mod(var(--color-light) alpha(40%));
    --color-light-a-30: color-mod(var(--color-light) alpha(30%));
    --color-light-a-20: color-mod(var(--color-light) alpha(20%));
    --color-light-a-10: color-mod(var(--color-light) alpha(10%));

    /* Gray, because every theme needs some monochrome… */
    --color-gray-0: lab(0 0 0);
    --color-gray-0-a-90: lab(0 0 0 / 90%);
    --color-gray-0-a-80: lab(0 0 0 / 80%);
    --color-gray-0-a-70: lab(0 0 0 / 70%);
    --color-gray-0-a-60: lab(0 0 0 / 60%);
    --color-gray-0-a-50: lab(0 0 0 / 50%);
    --color-gray-0-a-40: lab(0 0 0 / 40%);
    --color-gray-0-a-30: lab(0 0 0 / 30%);
    --color-gray-0-a-20: lab(0 0 0 / 20%);
    --color-gray-0-a-10: lab(0 0 0 / 10%);
    --color-gray-10: lab(10 0 0);
    --color-gray-10-a-90: lab(10 0 0 / 90%);
    --color-gray-10-a-80: lab(10 0 0 / 80%);
    --color-gray-10-a-70: lab(10 0 0 / 70%);
    --color-gray-10-a-60: lab(10 0 0 / 60%);
    --color-gray-10-a-50: lab(10 0 0 / 50%);
    --color-gray-10-a-40: lab(10 0 0 / 40%);
    --color-gray-10-a-30: lab(10 0 0 / 30%);
    --color-gray-10-a-20: lab(10 0 0 / 20%);
    --color-gray-10-a-10: lab(10 0 0 / 10%);
    --color-gray-20: lab(20 0 0);
    --color-gray-20-a-90: lab(20 0 0 / 90%);
    --color-gray-20-a-80: lab(20 0 0 / 80%);
    --color-gray-20-a-70: lab(20 0 0 / 70%);
    --color-gray-20-a-60: lab(20 0 0 / 60%);
    --color-gray-20-a-50: lab(20 0 0 / 50%);
    --color-gray-20-a-40: lab(20 0 0 / 40%);
    --color-gray-20-a-30: lab(20 0 0 / 30%);
    --color-gray-20-a-20: lab(20 0 0 / 20%);
    --color-gray-20-a-10: lab(20 0 0 / 10%);
    --color-gray-30: lab(30 0 0);
    --color-gray-30-a-90: lab(30 0 0 / 90%);
    --color-gray-30-a-80: lab(30 0 0 / 80%);
    --color-gray-30-a-70: lab(30 0 0 / 70%);
    --color-gray-30-a-60: lab(30 0 0 / 60%);
    --color-gray-30-a-50: lab(30 0 0 / 50%);
    --color-gray-30-a-40: lab(30 0 0 / 40%);
    --color-gray-30-a-30: lab(30 0 0 / 30%);
    --color-gray-30-a-20: lab(30 0 0 / 20%);
    --color-gray-30-a-10: lab(30 0 0 / 10%);
    --color-gray-40: lab(40 0 0);
    --color-gray-40-a-90: lab(40 0 0 / 90%);
    --color-gray-40-a-80: lab(40 0 0 / 80%);
    --color-gray-40-a-70: lab(40 0 0 / 70%);
    --color-gray-40-a-60: lab(40 0 0 / 60%);
    --color-gray-40-a-50: lab(40 0 0 / 50%);
    --color-gray-40-a-40: lab(40 0 0 / 40%);
    --color-gray-40-a-30: lab(40 0 0 / 30%);
    --color-gray-40-a-20: lab(40 0 0 / 20%);
    --color-gray-40-a-10: lab(40 0 0 / 10%);
    --color-gray-50: lab(50 0 0);
    --color-gray-50-a-90: lab(50 0 0 / 90%);
    --color-gray-50-a-80: lab(50 0 0 / 80%);
    --color-gray-50-a-70: lab(50 0 0 / 70%);
    --color-gray-50-a-60: lab(50 0 0 / 60%);
    --color-gray-50-a-50: lab(50 0 0 / 50%);
    --color-gray-50-a-40: lab(50 0 0 / 40%);
    --color-gray-50-a-30: lab(50 0 0 / 30%);
    --color-gray-50-a-20: lab(50 0 0 / 20%);
    --color-gray-50-a-10: lab(50 0 0 / 10%);
    --color-gray-60: lab(60 0 0);
    --color-gray-60-a-90: lab(60 0 0 / 90%);
    --color-gray-60-a-80: lab(60 0 0 / 80%);
    --color-gray-60-a-70: lab(60 0 0 / 70%);
    --color-gray-60-a-60: lab(60 0 0 / 60%);
    --color-gray-60-a-50: lab(60 0 0 / 50%);
    --color-gray-60-a-40: lab(60 0 0 / 40%);
    --color-gray-60-a-30: lab(60 0 0 / 30%);
    --color-gray-60-a-20: lab(60 0 0 / 20%);
    --color-gray-60-a-10: lab(60 0 0 / 10%);
    --color-gray-70: lab(70 0 0);
    --color-gray-70-a-90: lab(70 0 0 / 90%);
    --color-gray-70-a-80: lab(70 0 0 / 80%);
    --color-gray-70-a-70: lab(70 0 0 / 70%);
    --color-gray-70-a-60: lab(70 0 0 / 60%);
    --color-gray-70-a-50: lab(70 0 0 / 50%);
    --color-gray-70-a-40: lab(70 0 0 / 40%);
    --color-gray-70-a-30: lab(70 0 0 / 30%);
    --color-gray-70-a-20: lab(70 0 0 / 20%);
    --color-gray-70-a-10: lab(70 0 0 / 10%);
    --color-gray-80: lab(80 0 0);
    --color-gray-80-a-90: lab(80 0 0 / 90%);
    --color-gray-80-a-80: lab(80 0 0 / 80%);
    --color-gray-80-a-70: lab(80 0 0 / 70%);
    --color-gray-80-a-60: lab(80 0 0 / 60%);
    --color-gray-80-a-50: lab(80 0 0 / 50%);
    --color-gray-80-a-40: lab(80 0 0 / 40%);
    --color-gray-80-a-30: lab(80 0 0 / 30%);
    --color-gray-80-a-20: lab(80 0 0 / 20%);
    --color-gray-80-a-10: lab(80 0 0 / 10%);
    --color-gray-90: lab(90 0 0);
    --color-gray-90-a-90: lab(90 0 0 / 90%);
    --color-gray-90-a-80: lab(90 0 0 / 80%);
    --color-gray-90-a-70: lab(90 0 0 / 70%);
    --color-gray-90-a-60: lab(90 0 0 / 60%);
    --color-gray-90-a-50: lab(90 0 0 / 50%);
    --color-gray-90-a-40: lab(90 0 0 / 40%);
    --color-gray-90-a-30: lab(90 0 0 / 30%);
    --color-gray-90-a-20: lab(90 0 0 / 20%);
    --color-gray-90-a-10: lab(90 0 0 / 10%);
    --color-gray-100: lab(100 0 0);
    --color-gray-100-a-90: lab(100 0 0 / 90%);
    --color-gray-100-a-80: lab(100 0 0 / 80%);
    --color-gray-100-a-70: lab(100 0 0 / 70%);
    --color-gray-100-a-60: lab(100 0 0 / 60%);
    --color-gray-100-a-50: lab(100 0 0 / 50%);
    --color-gray-100-a-40: lab(100 0 0 / 40%);
    --color-gray-100-a-30: lab(100 0 0 / 30%);
    --color-gray-100-a-20: lab(100 0 0 / 20%);
    --color-gray-100-a-10: lab(100 0 0 / 10%);

    /* Intent colors, for things like toasts, info boxes, etc… */
    --intent-primary: var(--geospock-primary-2);
    --intent-primary-dark: color-mod(var(--intent-primary) shade(50%));
    --intent-primary-light: color-mod(var(--intent-primary) tint(50%));
    --intent-success: #0a6640;
    --intent-success-dark: color-mod(var(--intent-success) shade(50%));
    --intent-success-light: color-mod(var(--intent-success) tint(50%));
    --intent-warning: #a66321;
    --intent-warning-dark: color-mod(var(--intent-warning) shade(50%));
    --intent-warning-light: color-mod(var(--intent-warning) tint(50%));
    --intent-danger: #a82a2a;
    --intent-danger-dark: color-mod(var(--intent-danger) shade(50%));
    --intent-danger-light: color-mod(var(--intent-danger) tint(50%));

    /* Gradients… */
    --primary-gradient-direction: to right;
    --primary-gradient: linear-gradient(var(--primary-gradient-direction), var(--color-primary), var(--color-alternate));

    /* Fonts… */
    --font-size: 18px;
}
